wordpress/*
!wordpress/wp-config.php

public_html/*
!public_html/api/
!public_html/assets/
!public_html/crawler/
!public_html/functions/
!public_html/review-table-js/
!public_html/review-table-php/

workspace/*
!workspace/review-table-angular/
